In [6]:
import glob
import os
from tqdm import tqdm

## Make the "train" and "test" directories, where we want to move our images

In [12]:
# os.mkdir('data/train/')
# os.mkdir('data/test/')

## Move the images

1. Loop through all filenames. Remove the `data/` from the path to get the filename.
2. Move them

In [2]:
# split_index = len(file_list) // 2

In [18]:
import pandas as pd
predictions = pd.read_csv('predictions.csv')
predictions = predictions[['GalaxyID','Class1.1', 'Class1.2', 'Class1.3']]
predictions.columns = ['GalaxyID', 'Elliptical', 'Spiral', 'Irregular']
predictions.head()

   GalaxyID  Elliptical    Spiral  Irregular
0    100008    0.383147  0.616853   0.000000
1    100023    0.327001  0.663777   0.009222
2    100053    0.765717  0.177352   0.056931
3    100078    0.693377  0.238564   0.068059
4    100090    0.933839  0.000000   0.066161

In [19]:
os.mkdir('data/train/elliptical')
os.mkdir('data/train/spiral')
os.mkdir('data/train/irregular')
os.mkdir('data/test/elliptical')
os.mkdir('data/test/spiral')
os.mkdir('data/test/irregular')

In [53]:
split_index

30789

In [56]:
cols = ['Elliptical', 'Spiral', 'Irregular']
# SO SLOW
for i, galaxyId in enumerate(list(predictions['GalaxyID'])):
    filename = str(galaxyId) + '.jpg'
    old_path = 'data/' + filename
    row = predictions.iloc[i]
    prediction = row[['Elliptical', 'Spiral', 'Irregular']]
    if (i < split_index):
        # cols[prediction.values.argmax()].lower = either elliptical, spiral, or irregular, depending
        # on the predictions dataframe
        new_path = 'data/train/' + cols[prediction.values.argmax()].lower() + '/' + filename
    else:
        new_path = 'data/test/' + cols[prediction.values.argmax()].lower() + '/' + filename
    os.rename(old_path, new_path)

## Testing out the code we need for the above for-loop

In [25]:
row = predictions.iloc[1]
prediction = row[['Elliptical', 'Spiral', 'Irregular']]

In [31]:
cols = ['Elliptical', 'Spiral', 'Irregular']
cols[prediction.values.argmax()].lower()

'spiral'

In [57]:
print('num in train elliptical = {}'.format(len(os.listdir('data/train/elliptical/'))))
print('num in train spiral = {}'.format(len(os.listdir('data/train/spiral/'))))
print('num in train irregular = {}'.format(len(os.listdir('data/train/irregular/'))))
print('num in test elliptical = {}'.format(len(os.listdir('data/test/elliptical/'))))
print('num in test spiral = {}'.format(len(os.listdir('data/test/spiral/'))))
print('num in test irregular = {}'.format(len(os.listdir('data/test/irregular/'))))

num in train elliptical = 13237
num in train spiral = 17526
num in train irregular = 26
num in test elliptical = 13456
num in test spiral = 17300
num in test irregular = 33